 <style>
       
    </style>

    <center>
        <style>
        h1 {
        style="color: rgb(158, 16, 115);;">
    
        TAVEL INSPIRATION
        }
            h1{
                background-color:rgb(200, 255, 0) ;
                padding: 0px;
                border-color: rgb(1, 8, 7);
                border-width: 5px;
                border-style: solid;
                
            }
            li{
                display: inline;
                background-color: rgb(146, 15, 54);
                color: rgb(214, 224, 228);
                padding: 5px;
            
            
            
                
            }
            li:hover{
                color: aliceblue;
                cursor: pointer;
            }
            ul{
                margin-left: 60%;
                
            }
            .box{
                border-color: rgb(233, 126, 180);
                border-width: 10px;
                border-style: solid;
                display: inline-block;
                width: 282px;
                margin: 30px;
                padding: 30px;
                
        
            }
            
            
        
        </style>